<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="width: 90%;float: left;">
                            <h4 class="card-title ">Product Images</h4>
                            <p class="card-category"> Images of the product</p>
                        </div>
                        <div style="width: 10%;float: right;">
                            <i class="material-icons pointer-class" style="font-size: 2rem; margin: 10px;" matTooltip="Add" [matTooltipPosition]="'above'"
                                (click)="openDialog()">add_circle</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Default
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody *ngIf="show_spinner;else record_tbl">
                                    <tr>
                                        <td colspan="5">
                                            <mat-spinner></mat-spinner>
                                        </td>
                                    </tr>
                                </tbody>
                                <ng-template #record_tbl>
                                    <tbody *ngIf="rows?.length;else no_data_templ">
                                        <tr *ngFor="let row of rows; let rowcount = index">
                                            <td>
                                                {{(cur_page-1)*page_size+rowcount+1}}
                                            </td>
                                            <td>
                                                {{row.image_name ? row.image_name : 'N/A'}}
                                            </td>
                                            <td>
                                                <img [src]="row.image_path | safeHtml" width="50" height="50">
                                            </td>
                                            <td>
                                                <ng-template [ngIf]="row.status == 'STATUS_ACTIVE'">
                                                    <span class="badge badge-success pointer-class" (click)="updateStatus(row.status, row.id)">Active</span>
                                                </ng-template>
                                                <ng-template [ngIf]="row.status == 'STATUS_INACTIVE'">
                                                    <span class="badge badge-secondary pointer-class" (click)="updateStatus(row.status, row.id)">Inactive</span>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <ng-template [ngIf]="row.is_default == 1">
                                                    <span class="badge badge-success pointer-class">Default</span>
                                                </ng-template>
                                                <ng-template [ngIf]="row.is_default == 0">
                                                    <span class="badge badge-secondary pointer-class" matTooltip="Mark as default" [matTooltipPosition]="'above'" (click)="updateDefault(row.id)">Not Default</span>
                                                </ng-template>
                                            </td>
                                            <td class="text-primary">
                                                <i class="material-icons pointer-class" matTooltip="Edit" [matTooltipPosition]="'above'" (click)="openUpdateDialog(row.id)">create</i>&nbsp;
                                                <i class="material-icons pointer-class" matTooltip="Delete" [matTooltipPosition]="'above'" (click)="deleteImage(row.id)">delete_sweep</i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-template>
                                <tbody>
                                    <ng-template #no_data_templ>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Record found
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>